*{
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;
}
.fluid {
    margin: 0px;
    padding: 0px;

}

#title {
    background-color:rgb(255, 150, 150);
    padding: 5% 8%;
    color: white;
    margin: 0;


}
#title.row {
    padding: 10px;
}


.dogeinger {
    font-size: 2rem;
    line-height: 1.5;
}


.menu{
    padding: 0 2%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#download {
    padding: 10% 5%;
    font-family: 'Montserrat-Black', sans-serif;
}
h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
}

.btn-lg {
    margin: 5% 3px;
}

@media (min-width: 768px) {

    .title-image {
        transform: rotate(20deg);
        position: absolute;
        margin-top: 2%;
    }
    
}
@media(max-width: 768px) {
    .title-image {
        margin-top: 2%;
        text-align: center;

    }
    .title-image img {

        height: auto;
        max-width: 60vh;
    }
}

#features {
    background-color: #fff;
    padding: 8% 15%;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.feature-box p {
    color: #8f8f8f;
    font-size: 1rem;
    padding: 0 15%;
}
.icon {
    color: #ef817e;
}

#testimonials {
    color: white;
    text-align: center;
    background-color: rgb(255, 150, 150);
}
.carousel-item {
    padding: 10% 5%;
}
.dog-image {
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}
#press {
    text-align: center;
    background-color: rgb(255, 150, 150);
    padding-bottom: 3%;
}
#press img {
    width: 20%;
    margin: 1%;
}

#pricing {
    padding: 5%;
    text-align: center;
}
.pricing {
    padding: 3%;
}

/* CTA Section */

#cta {
    text-align: center;
    padding: 5%;
    background-color: rgb(255, 150, 150);
}

#footer {
    text-align: center;
    padding-top: 20px;
}
