*{
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color:rgb(255, 150, 150);
    padding: 5% 7%;
}
.row {
    padding: 10px 0;
}
.rotate {
    transform: rotate(15deg);
}
.col-8 {
    font-size: 2.5rem;
    line-height: 1.5;
}
.col-4{
    padding: 2% 0;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.col-4 a {
    color: white;
    text-decoration: none;
    margin: 0 4px;
}

#download {
    padding: 10% 5%;
    font-family: 'Montserrat-Black', sans-serif;
}
h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

.btn-lg {
    margin: 5% 3px;
}

#features {
    padding: 8% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.feature-box p {
    color: #8f8f8f;
    font-size: 1rem;
    padding: 0 15%;
}
.icon {
    color: #ef817e;
}

#testimonials {
    color: white;
    text-align: center;
    background-color: rgb(255, 150, 150);
}
.carousel-item {
    padding: 10% 5%;
}
.dog-image {
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}
#press {
    text-align: center;
    background-color: rgb(255, 150, 150);
    padding-bottom: 3%;
}
#press img {
    width: 20%;
    margin: 1%;
}

#pricing {
    padding: 5%;
    text-align: center;
}
.pricing {
    padding: 3%;
}
